@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,200,1,0");


@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 400;
  src: url("/fonts/ApfelGrotezk-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Joystix";
  font-weight: 400;
  src: url("/fonts/joystix.otf") format("opentype");
}

@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 700;
  src: url("/fonts/Apfel_Grotezk_Fett_700.otf") format("opentype");
}

@font-face {
  font-family: "SuperLine";
  src: url("/fonts/Superline-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SuperLine";
  font-style: italic;
  src: url("/fonts/Superline-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Indivisible";
  font-weight: 300;
  src: url("/fonts/Indivisible-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Indivisible";
  font-weight: 400;
  src: url("/fonts/Indivisible-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Indivisible";
  font-weight: 600;
  src: url("/fonts/Indivisible-SemiBold.ttf") format("truetype");
}

* {
  font-family: Indivisible;
  font-weight: 400;
}

html,
body {
  width: auto;
  height: auto;
  background: linear-gradient(180deg, #141218 0%, #201234 100%);
  padding: 0;
  overflow-x:hidden;
  margin: 0;
  z-index: -1;
  position: relative;
}

/* Navigation */
.header-dark {
  background: #121014;
  font-size: 14px;
  display: flex;
  border-bottom: 1px solid #ffffff12;
  justify-content: center;
  padding: 16px;
  align-items: center;
}
.header-dark img {
  width: 15px;
  padding: 0 5px;
  bottom: 2px;
  position: relative;
  opacity: 0.7;
}

.dark2 {
  background: #12101452;
  border-bottom: none;
  border-top: 1px solid #ffffff12;
}

.header-dark p {
  color: #ffffff6b;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-dark a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  transition: all 0.15s ease-in-out;
}
.header-dark i {
    text-decoration: none;
    font-size: 18px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.header-dark a:hover + i {
    opacity: 1!important;
    color: white;
    transition: all 0.15s ease-in-out;
}

.navbar-container {
  display: flex;
  margin: 48px 88px 0 88px;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.navbar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-right {
  font-family: 'Joystix';
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 0, 0, 0.14);
  background: rgba(255, 0, 0, 0.04);
}

.navbar-logo {
  width: 64px;
}

.navbar-middle {
  border-radius: 100px;
  opacity: 0.85;
  border: 1px solid rgba(255, 255, 255, 0.56);
  background: linear-gradient(114deg, #6100ff 42.5%, #2c0075 106.74%);
  box-shadow: none;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.navbar-middle a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 230px;
}


/* Instructions Section */
.instructions-header {
  display: flex;
  justify-content: center;
  font-size: 144px;
  font-family: 'joystix';
  color: white;
  margin: 64px 0;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.instructionsSubscribe {
  color: white;
  display: flex;
  margin: 0 88px 0 88px;
  padding: 56px 64px;
  border-radius: 16px;
  opacity: 1;
  border: 3px solid rgb(255 255 255 / 16%);
  background: linear-gradient(140deg, rgb(103 8 255 / 71%) 26.26%, rgb(56 0 147 / 83%) 84.79%);
  box-shadow: 0px 25px 40px 0px rgba(8, 0, 21, 0.17);
  justify-content: space-between;
  transition: all .4s ease-in-out;
}

.SubLeft p {
  display: flex;
  font-size: 56px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  
  
   /* 64px */
  letter-spacing: -1.28px;
}

.SubLeft a {
  left: 0;
  justify-content: right;
}

.instructionsSubscribe a {
  display: flex;
  padding: 0 56px 0 56px;
  text-decoration: none;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #FFF;
  opacity: 0.5;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.18) 100%);
  box-shadow: none;
  transition: all .4s ease-in-out;
}

.SubLeft span {
  font-size: 24px;
  opacity: 0.8;
  font-weight: 300;
  max-width: 90%;
  word-wrap:break-word;
  letter-spacing: 0.2px;
  line-height: 34px;
}

.subscribeIcon {
  padding: 0;
  color: black;
}

.subscribeIcon {
    padding: 0;
    color: white;
    font-size: 72px;
}

.SubLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instructionsMain {
    margin-top: 104px;
}

.instructionsMainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 88px 40px 88px;
}

.instructionsLeft span {
    color: white;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.instructionsLeft p {
    font-size: 64px;
    margin-top: 10px;
    color: white;
    margin-bottom: 0;
}


.instructionsRight a {text-decoration: none;color: white;display: flex;align-items: center;justify-content: center;font-family: 'Joystix';line-height: normal;letter-spacing: -0.4px;}

.instructionsRight {
    padding: 16px 0;
    width: 240px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(217, 217, 217, 0.08);
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.instructionsRight > a > i {
  padding-left: 20px;
}

.navbar-right p {
    color: white;
    padding: 0 24px;
    font-family: 'Joystix';
    font-size: 12px;
}

.navbar-right span {
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  font-size: 24px;
  font-family: 'Joystix';
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgb(255 0 0 / 43%);
}

.table-container {
  display:flex;
  align-items: center;
  margin: 0 88px;
}

.table {
	width:100%;
	border:1px solid white;
}

.table-row {
	display:flex;
	border: 1px white;
	width:100%;
	padding: 40px 0;
	background-color: black;
	color: white;
	border-top: 1px solid white;
}

.table-data {
	text-align:center;
	flex-grow: 1;
}

.tutorialItem {
    display: flex;
    border-top: 1px solid #ffffff1a;
    justify-content: space-between;
    padding: 0 88px;
}

.tutorialLeft {
    display: flex;
    padding: 24px 0;
    align-items: center;
    border-right: 1px solid #ffffff1f;
    width: 76%;
    justify-content: flex-start;
}

.tutorialLeft img {
    border-radius: 8px;
    height: 110px;
}

.tutorialLeft > p {
    font-size: 26px;
    margin-left: 48px;
    width: 74%;
    line-height: 134%;
    font-weight: 400;
    color: #ffffffb3;
    letter-spacing: 0.2px;
}

.tutorialRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tutorialRight a {
    padding: 20px 32px;
    font-size: 24px;
    width: 280px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.22);
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.07);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.tutorialRight i {
    font-size: 32px;
    padding: 5px 0;
    justify-content: end;
}

.tutorialEnd {
    border-top: 1px solid #ffffff4d;
    border-bottom: 1px solid #ffffff4d;
    background: rgb(255 255 255 / 12%);
}

.tutorialEnd .tutorialLeft {
    border-right: 1px solid #ffffff4d;
}

.tutorialEnd p {
    color: white;
}

.tutorialIP a {
    border-radius: 8px;
    border: 1px solid #00830d;
    background: #003D06;
    cursor:pointer;
}

.tutorialIP a:hover {
    background: #004d08!important;
}

.tutorialLeft a > i {
  font-size: 56px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  color: white;
  transition: all 0.3s ease-in-out;
}

.tutorialLeft a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffffff00;
  cursor: pointer;
  opacity: 0.6;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.tutorialLeft > a:hover i {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.tutorialHelp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: #ffffff96;
}

.tutorialHelp span {color: white;padding-left: 5px;}

.tutorialHelp a {
  color: white;
  font-weight: bold;
}


/* RULES */

.accordionItem {
  border-radius: 10px;
  margin: 18px 0;
  border: 2px solid rgb(255 255 255 / 31%);
  background: rgb(217 217 217 / 11%);
}

.rulesAccordion {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 126px 0 126px;
}

.rulesHeader {
  display: flex;
  justify-content: center;
  font-size: 144px;
  font-family: 'joystix';
  color: white;
  margin: 104px 0 48px 0;
}

.accordionTitle {
  position: relative;
  padding: 0  40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.accordionItem > .accordionTitle:after{
  font-family: "Material Symbols Rounded";
  content: "keyboard_arrow_up";
  font-size: 82px;
  color: white;
  opacity: 0.5;
}

.accordionItem.is-open > .accordionTitle:after {
  content: "keyboard_arrow_down";
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.dark2 {
  background: #1210145e!important;
  border-top: 1px solid #ffffff12;
  border-bottom: 0!important;
}


.accordionContent {
  height:0;
  margin: 0 40px 0 40px;
  overflow:hidden;
  transition: all 0.2s ease-in-out;
}

.accordionItem.is-open .accordionContent {
  height: 100%;
  margin: 24px 40px 40px 40px;
  transition: all 0.2s ease-in-out;
}

.accordionContent p:first-of-type {
  margin-top: 0;
}

.accordionTitle p, .accordionTitle span {
    inline-size: 70%;
    overflow-wrap: break-word;
    font-family: 'Joystix';
    font-size: 24px;
    line-height: 138%;
    color: #ffffffd9;
    margin: 32px 0;
    letter-spacing: -0.3px;
}

.accordionTitle span {
    color: #ff2424;
}

.accordionItem.is-open .accordionContent p {
    opacity: 1;
    overflow: visible;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.accordionContent p {
    font-size: 22px;
    opacity: 0;
    display: flex;
    margin-top: 40px;
    font-weight: 100;
    margin-bottom: 0;
    color: white;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.accordionContent p > img {
  margin-right: 16px;
}

.accordionLeft {
  margin-right: 16px;
}


/* Watching Livestreams */

.watchingHeader {
    display: flex;
    justify-content: center;
    font-size: 144px;
    font-family: 'joystix';
    color: white;
    margin: 104px 0 48px 0;
    text-align: center;
}

.wmHeader {
    display: flex;
    justify-content: space-between;
    margin: 0 126px;
    align-items: center;
}

.wmLeft > p {
    font-family: 'superline';
    font-size: 96px;
    margin: 0;
    color: white;
    letter-spacing: 1px;
    line-height: 95%;
}

.wmLeft span {
    color: white;
    font-family: 'Superline';
    font-size: 32px;
    font-style: italic;
    margin: 0;
    opacity: .5;
    letter-spacing: 0.8px;
}

.wmRight {
    border-radius: 100px;
    border: 1px solid rgb(255 255 255 / 29%);
    opacity: 0.8;
    background: rgba(255, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
}

.wmRight:hover {
    opacity: 1;
    border: 1px solid rgb(255 255 255 / 50%);
    background: rgb(255 0 0 / 47%);
    transition: all 0.3s ease-in-out;
}

.wmRight a {
  text-decoration: none;
  color: white;
  font-family: 'Joystix';
  height: 56px;
  width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}

.wmStream {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wmStream iframe {
  height: 745px;
  margin: 24px 126px;
  border-radius: 16px;
  border: 1px solid #424242;
  width: 100%;
  opacity: 0.8;
  box-shadow: 0px 27px 19px 0px rgba(0, 0, 0, 0.17);
}

.watchingTable {
  margin: 40px 126px;
}
.watchingTableHead {
    display: flex;
    padding-bottom: 8px;
    padding: 0 20px 16px 32px;
}

.watchingTableHead p {
    display: flex;
    color: #FFF;
    flex: 1 1 200px;
    font-family: Joystix;
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: -0.24px;
}

.watchingTableItems {display: flex;flex-direction: column;}

.watchingTableItem {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    padding: 18px 0 18px 32px;
    font-size: 16px;
    color: white;
}

.watchingTableItem p, .watchingTableItem a {
    font-family: 'Joystix';
}

.watchingTableItem a {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Joystix';
    height: 56px;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    opacity: 1;
    background: rgb(57 57 57 / 26%);
    align-items: center;
}

.notLive a {
    opacity: 0.3;
    background: none;
}

.watchingTableItem a > i {
    display: flex;
}

.watchingTableItem a > p {
    opacity: 1;
}

.notLive p {
    opacity: 0.3;
}

.watchingTableItem p {
    flex: 1 1 200px;
}

.watchingTableItem a {
    flex: 1 1 55px;
}

.watchingTableHead p:last-of-type {
    flex: 1 1 88px;
}

dialog {
  width: 100%;
  max-width: 1080px;
  background: #0b04149c;
  border: none;
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.274);
  backdrop-filter: blur(15px);
}

.video-modal-close-global {
    background: #1e132e;
    border: 1px solid #6565659c;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}

video {
    border-radius: 12px;
}

.backgroundcircle {
    z-index: -1;
    position: absolute;
}

#circle1 {
    position: absolute;
    width: 1397px;
    bottom: 5px;
    left: 250px;
}

#circle2 {
    position: absolute;
    width: 1320px;
    bottom: 5394px;
    left: -20%;
}

#circle3 {
    position: absolute;
    width: 1744px;
    bottom: 1926px;
    left: 117px;
}

.navbar-container, .rules-container, .instructions-container, .watching-container {
    z-index: 0;
    position: relative;
}

.tutorialLeft a > p {
    margin: 0;
    margin-top: 32px;
}

.tutorialLeft a > i, .tutorialLeft a > p {
    position: absolute;
}

/* Hover */

.navbar-middle:hover {
  opacity: 1;
  box-shadow: 0px 4px 25px 0px rgba(150, 85, 255, 0.28);
  transition: all .4s ease-in-out;
}

.tutorialRight a:hover {
  opacity: 1;
  background: rgb(255 255 255 / 13%);
  border: 1px solid rgb(255 255 255 / 57%);
  transition: all 0.3s ease-in-out;
}

.instructionsSubscribe a:hover {
    box-shadow: 0px 0px 33px 27px rgba(24, 0, 64, 0.31);
    opacity: 1;
    transition: all .4s ease-in-out;
}

.tutorialLeft a > p {
    color: white;
    margin-top: 40px;
}

.tutorialLeft a:hover {
    opacity:1;
    border: 2px solid #ffffff42;
    border-radius:8px;
    box-shadow: 0px 13px 19px -4px rgb(15 12 19 / 41%);
    transition: all 0.3s ease-in-out;
}



/* Mobile */

@media (max-width: 1620px) {
  .tutorialLeft {
    width: 60%;
  }
  .instructions-header, .rulesHeader, .watchingHeader {
    font-size:100px;
  }
  .backgroundcircle{
    display: none;
  }
  .tutorialLeft > p {
    font-size:20px;
    font-weight:300;
  }

  .watchingTableItem a, .watchingTableHead p:last-of-type {
    flex: 1 1 150px;
  }

  .watchingTable {
    margin:40px 88px;
  }
}

@media (max-width: 1200px) {
  .watchingTableItem a, .watchingTableHead p:last-of-type {
    flex: 1 1 400px!important;
  }
  .watchingTable {
    margin: 40px 40px!important;
  }
  .wmStream iframe {
    margin: 24px 40px!important;
  }
  .wmHeader {
    margin:0 40px;
  }
  .rulesAccordion {
    flex-direction:column;
    padding: 0 40px;
  }
  .accordionLeft {
    margin-right:0;
  }
  .accordionRight .accordionItem:first-of-type {
    margin-top:0;
  }
  .tutorialItem {
    padding:0 40px;
  }
  .instructionsMainHeader {
    margin: 0 40px 40px 40px;
  }
  .instructionsSubscribe {
    margin: 0 40px 0 40px;
  }
  .SubLeft span {
    font-size: 20px;
    max-width:85%;
  }
}

@media (max-width: 1100px) {
  .wmStream iframe {
    width:100%;
    height:600px;
  }
  .accordionTitle p, .accordionTitle span {
    inline-size:100%;
  }
  video {
    width:100%;
  }
  dialog {
    max-width:fit-content;
  }
  .instructions-header, .rulesHeader, .watchingHeader {
    font-size:72px!important;
  }
  .instructionsSubscribe {
    flex-direction:column;
  }
  .instructionsSubscribe a {
    justify-content: center;
    padding:0;
    margin-top: 32px;
  }
  .tutorialItem {
    flex-direction:column;
  }
  .tutorialLeft, .tutorialEnd .tutorialLeft {
    border:none;
    width:100%!important;
  }
  .tutorialRight a {
    width:100%;
    margin:16px 0 40px 0;
  }
  .instructionsMainHeader {
    flex-wrap:wrap;
  }
  .instructionsRight {
    width:100%;
    margin-top:24px;
  }
}

@media (max-width: 750px) {
  .navbar-header {justify-content:center;}
  .instructions-header, .rulesHeader, .watchingHeader {
    font-size:56px!important;
  }
  .instructionsSubscribe {
    padding: 48px 40px;
  }
  .navbar-container {
    margin:40px 48px 0 40px;
  }
  .watchingTableItem {
    padding:18px 0 18px 0px;
    flex-direction: column;
    align-items: normal;
  }
  .watchingTableHead {
    padding:0 20px 16px 0;
    display: none;
  }
  .watchingTableItem p, .watchingTableHead p {
    flex: 1 1 100%;
  }
  .watchingTableItem a, .watchingTableHead p:last-of-type {
    padding: 0;
    flex: 1 1 200px!important;
  }
  .watchingTableItem a > p{
  }
}


@media (max-width: 650px) {
  .watchingTableItem p:last-of-type {
    flex: 1 1 0px;
  }
  .watchingTableItem a {
    flex: 1 1 auto!important;
    padding: 0 20px;
  }
  .accordionTitle p, .accordionTitle span {
    font-size:20px;
  }
  .instructions-header, .rulesHeader, .watchingHeader {
    font-size:40px!important;
  }
  .SubLeft span {
    max-width:100%!important;
  }
  .tutorialLeft {
    flex-direction: column;
  }
  .tutorialLeft > p {
    margin-left:0;
    width:100%;
  }
  .tutorialLeft img {
    width:100%;
    height:auto;
    margin-top:16px;
  }
  .tutorialHelp {flex-direction:column;}

  .navbar-container {
    flex-direction: column;
  }
  .navbar-middle, .navbar-right {
    margin-top:24px;
  }
  .navbar-right {
    height: 100%;
  }
  .navbar-right span {
    padding: 15px 0;
    width: 50%;
    margin-left: auto;
  }
  .navbar-middle a {
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 18px;
  }
  .SubLeft p {
    line-height: 115%;
  }
}

@media (max-width: 500px) {
  .instructions-header, .rulesHeader, .watchingHeader {
    font-size:32px!important;
  }

  .SubLeft p {
    font-size: 40px;
  }

  .SubLeft span {
    font-size:18px!important;
  }

  .wmHeader {
    flex-wrap: wrap;
    margin: 0 24px;
  }

  .wmRight {
    width:100%;
    margin-top:24px;
  }
  .wmRight a {width:auto;}
  .tutorialRight {
    flex-direction: column;
  }
  .rulesAccordion, .accordionTitle {
    padding: 0 24px;
  }
  .wmStream iframe {margin: 24px!important;}
  .instructionsSubscribe {
    margin: 0px 24px!important
  }
}